body {
  margin: auto;
  padding: 80px;
  background-image: linear-gradient(90deg, #887a79, #1c1e44);
  display: flex;
  flex: 1;
}

.Card {
  display: flex;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/072/311/999/small/abstract-blue-and-white-flowing-waves-background-modern-design-element-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  background-image: linear-gradient(0deg, #5d5b5e, #29282e);
  flex: 0.5;
}

.Right {
  background-image: linear-gradient(45deg, #e0ceaa50, #3c3a45);
  flex: 1 auto;
  padding: 20px;
  backdrop-filter: blur(20px);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopLeft,
.TopRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
